*{ margin:0; padding:0; list-style:none;}
img{ border:0;}
.ban{ width:1080px; height:300px; position:relative; overflow:hidden;margin:40px auto 0 auto;}
.ban2{ width:500px; height:500px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:500px; height:500px;}
.prev{ float:left; cursor:pointer;}
.num{ height:350px;overflow:hidden; width:1080px; position:relative;float:left;}
.min_pic{ padding-top:10px; width:500px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:200px; height:300px; margin-right:5px; padding:6px;}
.num ul li.on{ border:0px solid blue; padding:0; }
.prev_btn1{ width:26px; text-align:center; height:18px;  position:relative ;top:150px;margin-right:20px;left: 270px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px;top:20px;position:relative ;margin-top:-210px;margin-right:300px;cursor:pointer;float:right;}
.prev1{ position:absolute; top:220px; left:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:220px; right:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:absolute; left:0; top:0; display:none;}
.pop_up{ width:500px; height:500px; padding:10px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-255px; margin-top:-255px; display:none; z-index:99;}
.pop_up_xx{ width:40px; height:40px; position:absolute; top:-40px; right:0; cursor:pointer;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; top:0;}
.pop_up2 ul li{ width:500px; height:500px; float:left;}
.num ul li:hover .img{
			border-width: 4px;
			border-style: solid;
			border-color: #25ADDE;
		}
.num ul li:hover .imgwrite{
			color:#25ADDE;
		
		}